* {
  box-sizing: border-box;
}

html,
body,
.container {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(202, 223, 215);
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}

.container {
  display: flex;
  justify-content: center;
}

.container .loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.container .movies {
  width: 90%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movies .movie {
  background-color: white;
  width: 45%;
  padding: 15px;
  box-shadow: 10px 10px 14px -5px rgba(0, 0, 0, 0.26);
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.movie img {
  margin-right: 35px;
  position: relative;
  top: -30px;
  box-shadow: 10px 10px 10px -7px rgba(0, 0, 0, 0.26);
}

.movie__title,
.movie__year,
.movie__summary,
.movie__genres {
  margin: 5px 0px;
}

.movie__title {
  color: black;
  font-size: 22px;
}

.movie__genres {
  list-style: none;
  padding: 0;
  display: flex;
}

.movie__genres .genres__genre {
  margin-right: 5px;
}
